body {
  background-color: #e9fbff;
}

.dashboard-container {
  padding: 20px;
  min-height: 100vh;
  background-color: #E0FDFF;
}

.cards-row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.card {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
} 

.large-card {
  width: 300px;
  height: 160px;
}

.income {
  color: green;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

.spending {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}

.add-transaction {
  background-color: #A8FFD5;
  border: 1px solid #000;
  padding: 15px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  height: 60px;
  align-self: center;
}

.bottom-section {
  display: flex;
  gap: 30px;
}

.transactions-container {
  flex: 1;
  max-height: 800px;
  /* overflow-y: auto;  to enable scrolling if too long */
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.chart-container {
  flex: 1;
}
