.transactions-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.transactions-table {
  flex-grow: 1;
  max-height: 20000px;  
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.transactions-table table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.payee {
  text-align: left;
  width: 40%;
}

.amount {
  text-align: center;
  width: 30%;
}

.date {
  text-align: right;
  width: 30%;
}

.transactions-card {
  margin-top: 20px;
  border: none;
  height: 100%;
}

select.form-select {
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}
