.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #1d5603;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px; 
     
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    

}

.input img{
margin: 0px 30px;
}